body {
	    background-color:#f5f5dc;
	}

        header{
    	background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614343556_60-p-fon-knigi-svetlii-78.jpg);
	}

	
	nav{
	    height:auto;
	    background: #301c0c;
	    
	}
	
    #menu {
        background: #301c0c; 
    }

    #menu li{
        display:inline-block; 

    }

    #menu a {
        color: white; 
        text-decoration: none; 
    }

    #menu a:hover {
        background: #ffe9bd; 
    }
	
	table { 
	   color:black;
	}
	table, th, td{
   	 border: 1px solid black;
	}
	
	th{
    	   background-color:#301c0c;
	   color:white;	
	}
	tr:nth-child(2n-1){
    	   background-color: #f2c8aa;
	}
	tr:nth-child(even){
    	   background-color: #caa885;
	}

		

	footer{
	    background: #301c0c;
	    color: white;
		}
	   
