body{
font-family: Arial;
padding: center;
background-image: url(https://mobimg.b-cdn.net/v3/fetch/39/39924baed17a01b61ca1d89412ea6d22.jpeg);
}
.photo{
    width:80px;
    height:80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

