header{
    width: 100%;
    height: 110px;
    background-color:brown;
    background-image: url(https://yandex.ru/images/search?from=tabbar&text=%D0%BA%D0%BE%D1%80%D0%B8%D1%87%D0%BD%D0%B5%D0%B2%D1%8B%D0%B9%20wstmb&pos=15&img_url=http%3A%2F%2Figolochkin.ru%2Fimages%2Fbig%2Fbarhat-koricnevyj-083-ig030193_2.jpg&rpt=simage&lr=35);
}
title{
    font-size: 50px;
    font-family: arial ;
    padding-top: 0;
    float: left;
}
    
#logo {
    width: 90px;
    height: 90px;
    float: left;
}
nav{
    text-align: center; /* пункты и текст горизонтально по центру */
    background: #c9b2c9;
    padding-top: 0%;
}
ul#menu li{
    display:inline-block; 
    text-align: center;
}
#menu, #menu li {
    margin: 0; /* убрать внутренние отступы */
    padding: 0; /* убрать внешние отступы */
}
#menu a {
    padding: 10px 25px; /* задаем внутренние отступы */
    color: #fff; /* цвет текста */
    text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
}
#menu a:hover {
    background: #e6b8f0; /* фон пунктов при наведении */
}

div{
   width: 960px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
