body{
background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612426373_36-p-korichnevii-mramornii-fon-50.jpg);
}
.photo{
    width:180px;
    height:180px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    border-radius: 15%;
}
.slide {
  text-align: center;
}
h2 {
  padding: 10%;
  color:black;
  font-family: courier;
}
.rev_slider{
  margin: 0 auto;
  padding: 10px;
  margin-top: 15%;
  width: 95%;
  height: 50vh;
}
