	header{
	    width: 100%;
	    height: 140px;
		background-color: blue		
	    background-image: url(https://yandex.ru/images/search?from=tabbar&nomisspell=1&text=%D1%84%D0%BE%D0%BD%20%D0%B4%D0%BB%D1%8F%20html&source=related-1&pos=16&rpt=simage&img_url=http%3A%2F%2Fkartinkin.net%2Fuploads%2Fposts%2F2021-07%2F1626302376_40-kartinkin-com-p-fon-dlya-tablitsi-krasivo-42.jpg&lr=35&rlt_url=https%3A%2F%2Fsun9-16.userapi.com%2Fimpg%2F3CRwZwu9OPNRGVJzpdlZY0ix_EEOx8Iz0sjgow%2F54FxuERhTdk.jpg%3Fsize%3D1024x768%26quality%3D96%26sign%3Daa6c2078de51f0d512e2fb61f0ca736e%26type%3Dalbum&ogl_url=http%3A%2F%2Fkartinkin.net%2Fuploads%2Fposts%2F2021-07%2F1626302376_40-kartinkin-com-p-fon-dlya-tablitsi-krasivo-42.jpg);
	}
	name{
	    font-size: 30px;
	    font-family: arial;
	    padding-top: 0;
	    text-align:center;
	    float: left;
	    color: black;
	}
	
	#monoLiza {
	    width: 200px;
	    height: 100px;
	    float: left;
	    margin-right: 10px;
	}
	
	nav{
	    height:19px;
	    text-align: center; 
	    background: brown;
	    margin: 0 auto; 
	    margin-top:30px; 
	    padding-top:0%;
	}
	
	 ul #menu li{
	    list-style: none;
	    marin:0;
	    padding:20px;
	}
	#menu a{
	    padding:20px;
	    color:#293133;
	    text-decoracion: none;
	}
	#menu a:hover{
	    color:#FFCF48;
	    text-decoration: none;
	}
	
	#menu li{
	    float: left;
	    margin-rigth:5px;
	}
	table { 
  	   margin-top:20px;
  	   margin: 0 auto; 
  	   width: 50%;
 	  border-spacing: 0;
  	  border: 2px solid gray;
  	  text-align: center;
	}
	TD, TH, TR {
    	  border: 2px gray;
          padding: 3px;
 	}
	th{
    	   background-color: blue;
	}
	tr:nth-child(even){
    	   background-color: yellow;
	}
 
	
	div{
	   width: 960px;
	   display: block;
	   margin-left: auto;
	   margin-right: auto;
	}
	
	
	.footer{
	    line-height:100px;
	    font-size: 20 px;
	    background: brown;
	    color: black;
	    width: 100%;
	    height: 120px;
	    padding-left:40px;
	}

