body{
font-family: Arial, Helvetica, sans-serif;
padding: 60px;
background-image: url(https://kartinkin.net/uploads/posts/2021-07/thumbs/1626274320_18-kartinkin-com-p-sero-bezhevii-fon-krasivo-18.jpg);
}
.photo{
    width:180px;
    height:180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
}
.slide {
  text-align: center;
}
h2 {
  padding: 10%;
  color:black;
}
.rev_slider{
  margin: 0 auto;
  padding: 10px;
}
